.page-wrapper {
	width: 100%;
	max-width: 24rem;
}

.rive-wrapper {
	width: 100%;
	aspect-ratio: 2/1;
}

.form-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	width: 100%;
	padding: 1rem;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	box-shadow:
		rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
		rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
