:root {
	--color-primary: #495853;
	--color-second: #989b9a;
}

html,
body {
	height: 100%;
	width: 100%;
	color: var(--color-primary);
	font-family: "Inter", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.text-accent {
	color: var(--mantine-color-myColor-9);
}
