.layout {
	flex: 1;
	min-height: 0;
	display: flex;

	&.layout-menu-collapsed .menu {
		width: 20rem;
	}
}

.menu {
	position: sticky;
	top: 0;
	/* height: 100%; */
	width: 4rem;
	transition: width 0.15s linear;
	background-color: var(--mantine-color-myColor-9);
	color: white;
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	/* padding: 1rem; */

	.menu-logo {
		flex: none;
		font-size: 30px;
		padding: 2.5rem 0;
		margin: 0 1.5rem;
		border-bottom: 1px solid var(--mantine-color-myColor-8);
	}

	.menu-nav {
		flex: 1;
		padding: 0 1rem;
		margin-top: 1rem;

		:global(.mantine-ScrollArea-scrollbar) {
			background-color: transparent !important;
		}

		:global(.mantine-ScrollArea-content) {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		.menu-item {
			display: flex;
			align-items: center;
			gap: 1rem;
			padding: 1rem 1rem;
			border-radius: 0.5rem;
			color: var(--mantine-color-myColor-1);
			text-decoration: none;

			&:hover {
				background-color: var(--mantine-color-myColor-6);
			}

			.menu-item-icon {
				width: 24px;
				height: 24px;
			}
		}
	}

	.menu-footer {
		flex: none;
	}
}

.main {
	flex: 1;
	background-color: oklch(98.4% 0.003 247.858);
}

.header {
	display: flex;
	background-color: white;
	padding: 0.5rem 1rem;
	gap: 1rem;
}

.content {
	padding: 1rem;
}
