.layout {
	height: 100dvh;
	display: flex;

	&.layout-menu-collapsed .menu {
		width: 16rem;

		.menu-logo {
			padding: 2rem 1.5rem 0;

			button {
				right: 1.5rem;
			}

			:global(span) {
				display: block;
			}
		}

		.menu-nav {
			.menu-group {
				color: var(--color-second);

				&::after {
					content: none;
				}
			}

			.menu-item-label {
				display: initial;
			}

			.menu-footer {
				padding: 0.5rem;

				:global(.profile) {
					display: initial;
				}

				&:hover {
					background-color: var(--mantine-color-myColor-1);
					color: var(--mantine-color-myColor-9);
				}
			}
		}
	}
}

.menu {
	width: 4.5rem;
	height: 100%;
	transition: width 0.15s linear;
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	background-color: #f8f8fa;
	color: #6d817a;
	/* padding: 1rem; */

	.menu-logo {
		position: relative;
		flex: none;
		display: flex;
		align-items: center;
		gap: 0.75rem;
		color: var(--mantine-color-myColor-9);
		font-weight: 700;
		padding: 2rem 1.5rem 0;
		margin-bottom: 1.5rem;

		:global(img) {
			width: 1.5rem;
			height: 1.5rem;
		}

		:global(span) {
			flex: 1;
			min-width: 0;
			display: none;
			overflow: hidden;
			white-space: nowrap;
		}

		:global(button) {
			position: absolute;
			right: -0.75rem;
			color: inherit;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
			background-color: #fafafa;
			border: none;
			border-radius: 3px;
			width: 1.75rem;
			height: 1.75rem;
			display: grid;
			place-items: center;
			cursor: pointer;
			transition: all 0.15s linear;

			svg {
				width: 1rem;
				height: 1rem;
			}

			&:hover {
				background-color: #fff;
			}
		}
	}

	.menu-nav {
		flex: 1;
		min-height: 0;
		padding: 0 1rem;

		:global(.mantine-ScrollArea-scrollbar) {
			background-color: transparent !important;
		}

		:global(.mantine-ScrollArea-content) {
			min-height: 100%;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		.menu-group {
			position: relative;
			margin: 1.5rem 0.5rem 0;
			font-size: 12px;
			text-transform: uppercase;
			color: transparent;
			overflow: hidden;

			&:first-child {
				margin-top: 0;
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				height: 1px;
				width: 100%;
				background-color: var(--color-second);
			}
		}

		.menu-item {
			display: flex;
			align-items: center;
			gap: 0.75em;
			height: 40px;
			padding: 9px;
			border-radius: 0.5rem;
			font-weight: 400;
			text-decoration: none;
			font-weight: 500;
			font-size: 14px;

			&.menu-item-active,
			&:hover {
				background-color: var(--mantine-color-myColor-1);
				color: var(--mantine-color-myColor-9);

				.menu-item-icon {
					color: var(--mantine-color-myColor-8);
				}
			}

			.menu-item-icon,
			.menu-item-icon :global(svg) {
				width: 22px;
				height: 22px;
			}

			.menu-item-label {
				display: none;
			}
		}
	}

	.menu-footer {
		margin-top: auto;
		display: flex;
		gap: 0.75rem;
		align-items: center;
		margin-bottom: 1rem;
		cursor: pointer;
		/* padding: 0.5rem; */
		border-radius: 0.5rem;
		overflow: hidden;

		:global(.profile) {
			white-space: nowrap;
			display: none;
		}

		:global(.profile-name) {
			font-size: 14px;
			font-weight: 700;
			color: var(--mantine-color-myColor-8);
			margin: 0;
		}

		:global(.profile-role) {
			font-size: 12px;
			margin: 0;
		}
	}
}
